<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Fifi Fetch</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #719e40;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 100px;
                font-weight: 200;
                margin-bottom: 0;
            }
        </style>
    </head>
    <body>
        <h1>Fifi Fetch</h1>
        <div>the Friendly File Fetcher</div>
        <p>by <a href="http://gresak.net">Gresak.net</a></p>
        <?php if (isset($name)) : ?>
            <h2>File <?php echo '"'.htmlspecialchars($name).'"' . ($found?" found":" not found"); ?> !</h2>
        <?php else: ?>
            <h2>Welcome!</h2>
        <?php endif; ?>
    </body>
</html>
